* {
  margin: 0px;
  padding: 0px;
}
.ulStyle {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  height: 60px;
  align-items: center;
  border-radius: 10px;
  background: #8bc34a;
}
ul > li {
  list-style: none;
}
