* {
  margin: 0px;
  padding: 0px;
}
.ulStyle {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  height: 60px;
  align-items: center;
  border-radius: 10px;
  background: #8bc34a;
  padding: 0px 10px;
}
.btn {
  border: none;
  background: #8bc34a;
  color: black;
}
ul > li {
  list-style: none;
  text-decoration: none;
}
li {
  text-decoration: none;
}
.cartimgStyle {
  width: 150px;
}
.brandStyle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px 2px;
}
.productStyle {
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.imgStyle {
  width: 150px;
}
.inputStyle {
  padding: 23px 0px 0px 2px;
}
.paginationStyle {
  text-align: center;
}
.productImage {
  width: 150px;
}
.btnStyle {
  height: 38px;
  width: 100px;
  background: green;
  color: white;
  border-radius: 10px;
  border: none;
}
@media (max-width: 412px) {
  .brandStyle {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px 2px;
  }
  .ulStyle {
    display: flex;
    gap: 10px;
    padding: 0px 10px;
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .ulStyle {
    padding: 0px 10px;
  }
}
